@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  height: 100%; 
}
.headerImage1 {
  height: 3.5em;
  width: 3.5em;
  padding-top: 0.5em;

}
.headerImage2 {
  height: 2em;
  width: 2em;
  padding-top:1.5em;

}

.container {
  height: 5em;
  display: flex;
  border-bottom: 0.01em grey solid;
  justify-content: space-evenly;
  position: fixed; 
  top: 0; 
  width: 100%;
  background-color:white;
  /* align-items:baseline */
}





#para{
  padding-top:3em;
  padding-left:1em;
}

#searchbox{
  padding-top:1.7em;
}

input:active {
 background-color: white
}

input  {
  height: 2.2em;
  width: 23em;
  background-color: rgb(241, 239, 239);
  border-radius: 7px;
}

.settings_pic{
  height:2em;
  width:2em;
}

.profile_main_pic{
  /* border-radius: 50% 50% 50% 50%; */
  width: 10em;
  height: 10em;
  border-radius: 50%;
  /* -moz-border-radius: 50%;
  -webkit-border-radius: 50%; */
 
}
.settings_pic{
  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-gear-a-512.png" )
}

.profile_username{
  color: black;
  padding-left: 2em;
  padding-right: 2em;
  font: 6em ;
  /* left:2em; */
}
button{
  height :3em;
  width :9em;

}

.button_div{
  padding-top: 1em;
}
.settings_div{
  padding-top: 1em;
  padding-left: 1em;
}

.edit_profile_button{
  /* width :13em;
  height :2em; */
  /* padding-top: 5em; */
}

.edit_settings_button{
  width :1.8em;
  height :2em;
}

.user_container{
  border-bottom: rgb(161, 156, 156) 0.2em solid;
  padding: 2em;
  display: flex;
  justify-content: center;
  width:95%;
  background-color: white(245, 240, 240)
}

.user_content {
  padding-top :7em ;
  padding-left :4em ;
  display: flex;
  top:30px;
  flex-wrap:wrap;
  width:49em;
}

.pff_div{
  padding-top: 2em
}

.post_follow_followers{
  padding-top: 0em;
  /* padding-bottom: 6em; */
  padding-left: 12em;
}

.post_bookmark{
  padding-left: 3em;
  display: inline-flex;
  /* border-bottom:0.2em rgb(146, 143, 143) solid; */
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(245, 245, 245)
}

.post_bookmark_text {
  padding-right: 8em;  
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.post_pics_container{
  padding: 5em;
}

.post_pics{
  /* padding-right: 5em; */
  margin: 1em
}

.user_feed_item{
  padding-top: 13em;
  border: 0.5em red solid;
  display: flex


}

.feed_item_main_container{
  padding-top: 183em;
  border: 0.5em blue solid;
  height:5em;
  width:55em;
  justify-content: center;

}
.buttons {
  cursor: pointer;
  box-shadow: 12px -12px 2px 1px rgb(7, 164, 255);
}

a:link {
  color:  #3897f0;
  text-decoration: none; 
}

a:visited {
  color:  #3897f0;
  text-decoration: none; 
}

a:hover {
  color:  #3897f0;
  text-decoration: none; 
}

a:active {
  color:  #3897f0;
  text-decoration: none; 
}